
.container1 div,
.container2 div {
  display: inline-block;
}

.container1 {
  width: 1240px;
  margin: auto;
}


/*STYLE IMAGES==========================*/
.image1,
.image2,
.image3 {
  width: 400px;
  height: 500px;
  position: relative;
  background-size: cover;
  margin: auto;
}

.image1 {
  background-image: url("img/pd1.jpg");
}

.image2 {
  background-image: url("img/pd2.jpg");
}

.image3 {
  background-image: url("img/pd3.jpg");
}
/*=====================================*/


/*SCONTO===============================*/
.sconto30 {
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
}

.sconto5 {
  background-color: green;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
}
/*=====================================*/


/*HOVER STYLE==========================*/
#heart {
  width: 40px;
  position: absolute;
  bottom: 20px;
  left: 180px;
  display: none;
}

.image1:hover  #heart {
  display: block;
}

.image2:hover  #heart {
  display: block;
}

.image3:hover  #heart {
  display: block;
}
/*=====================================*/
