.container1,
.container2 {
  widht:1200px;
  height: 600px;
  border: 1px solid black;

}
.container1 div{
  display: inline-block;
}

.container2 div{
  display: inline-block;
  position: relative;
  top: 20px;
}

.image1,
.image2,
.image3 {
  background-color: red;
  width: 400px;
  height: 600px;
  border: 1px solid black;
}
